* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  height: 4000px;
  font-family: "Cubic 11";
  background-color: hsl(0, 0%, 13%);
}

main {
  padding-top: 80px;
}
