div.gallery {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid #000000;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #dadada;
}

div.gallery img {
    display: block;
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    color: #ffffff;
    text-align: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* .container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
} */


/* hover功能 */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

div.gallery:hover .overlay {
    opacity: 0.9;
}

.text-hover {
    color: white;
    font-size: 17px;
    letter-spacing: 0.1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}